/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './components/mixins/fonts';
@import './utils/variables';
@import './utils/visually-hidden';
@import './base/reset';
@import './components/container';

// Components
@import './components/header';
@import './components/contacts';
