/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './base/reset';
@import './utils/variables';
@import './components/mixins/fonts';
@import './components/mixins/button';
@import './components/container';
@import './utils/visually-hidden';

// Components
@import './components/header';
@import './components/section-about';
@import './components/customers';
