.header__buy-now {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 44px;
    padding-left: 37.23px;
    padding-right: 37.23px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.31;

    background-color: $main-text-color;
    color: $accent-main-color;

    border: none;
    border-radius: 22px;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #ECEBEB;
    }
}

.header__buy-now::after {
    content: '';
    width: 7px;
    height: 10px;
    padding-top: 19px;
    margin-left: 10px;
    background-image: url('/images/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

