// Миксин для шрифта (размер шрифта, жирность, line-height, letter-spacing)

@mixin main-font($font-size, $font-weight, $line-height, $letter-spacing: 0.04em) {
  font-family: $main-font;
  font-style: normal;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height / $font-size;
  letter-spacing: $letter-spacing;
}

@mixin secondary-font($font-size, $font-weight, $line-height, $letter-spacing: 0.04em) {
  font-family: $secondary-font;
  font-style: 400;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height / $font-size;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
}
