<div>
    <ul>
        <li>
            <h3>CAFE</h3>
            <span>Chicago</span>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            
            <span>Monday - Friday</span>       
            <p>06:00 AM - 10:00 PM</p>  

            <span>Saturday - Sunday</span>
            <p>08:00 AM - 16:00 PM</p>   
            
            <address class="">
                <a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a> <br>
                <a href="tel:+61(0) 383 766 284" class="phone">+61(0) 383 766 284</a>
            </address>
        </li>

        <li>
            <h3>FOODTRUCK</h3>
            <span>Los Angeles</span>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            
            <span>Monday - Friday</span>       
            <p>06:00 AM - 10:00 PM</p>  

            <span>Saturday - Sunday</span>
            <p>08:00 AM - 16:00 PM</p>     
            
            <address class="">
                <a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a> <br>
                <a href="tel:+61(0) 383 766 284" class="phone">+61(0) 383 766 284</a>
            </address>
        </li>

        <li>
            <h3>CAFE</h3>
            <span>Chicago</span>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            
            <span>Monday - Friday</span>       
            <p>06:00 AM - 10:00 PM</p>  

            <span>Saturday - Sunday</span>
            <p>08:00 AM - 16:00 PM</p>      
            
            <address class="">
                <a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a> <br>
                <a href="tel:+61(0) 383 766 284" class="phone">+61(0) 383 766 284</a>
            </address>
        </li>
    </ul>
    <button type="button">Our Locations</button>
    <button type="button">Franchise</button>
</div>
