<div>
    <section class="contacts-section">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contacts">
            <li class="contacts__item">
                <div>
                    <p class="contacts__category contacts__category--cafe">CAFE</p>
                    <p class="contacts__city">Chicago</p>
                    <p class="contacts__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    
                    <div class="contacts__workdays">
                        <p class="contacts__days">Monday - Friday</p>       
                        <p class="contacts__time">06:00 AM - 10:00 PM</p>  
                    </div>
                    <div class="contacts__weekdays">
                        <p class="contacts__days">Saturday - Sunday</p>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>     
                    </div>
                    
                    <address class="">
                        <a href="mailto:noreply@envato.com" class="contacts__adress--mail">noreply@envato.com</a> <br>
                        <a href="tel:+61(0) 383 766 284" class="contacts__adress--phone">+61(0) 383 766 284</a>
                    </address>
                </div>
            </li>
            
            <li class="contacts__item">
                <p class="contacts__category contacts__category--foodtruck">FOODTRUCK</p>
                <p class="contacts__city">Los Angeles</p>
                <p class="contacts__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                
                <div class="contacts__workdays">
                    <p class="contacts__days">Monday - Friday</p>       
                    <p class="contacts__time">06:00 AM - 10:00 PM</p>  
                </div>
                <div class="contacts__weekdays">
                    <p class="contacts__days">Saturday - Sunday</p>
                    <p class="contacts__time">08:00 AM - 16:00 PM</p>     
                </div>
                <address class="">
                    <a href="mailto:noreply@envato.com" class="contacts__adress--mail">noreply@envato.com</a> <br>
                    <a href="tel:+61(0) 383 766 284" class="contacts__adress--phone">+61(0) 383 766 284</a>
                </address>
            </li>

            <li class="contacts__item">
                <p class="contacts__category contacts__category--cafe">CAFE</p>
                <p class="contacts__city">Chicago</p>
                <p class="contacts__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                
                <div class="contacts__workdays">
                    <p class="contacts__days">Monday - Friday</p>       
                    <p class="contacts__time">06:00 AM - 10:00 PM</p>  
                </div>
                <div class="contacts__weekdays">
                    <p class="contacts__days">Saturday - Sunday</p>
                    <p class="contacts__time">08:00 AM - 16:00 PM</p>     
                </div>
                
                <address class="contacts__adress">
                    <a href="mailto:noreply@envato.com" class="contacts__adress--mail">noreply@envato.com</a> <br>
                    <a href="tel:+61(0) 383 766 284" class="contacts__adress--phone">+61(0) 383 766 284</a>
                </address>
            </li>
        </ul>
    <button type="button">Our Locations</button>
    <button type="button">Franchise</button>
</section>
</div>
