<section class="contacts-section" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__list-item">
        <p class="contacts__list-category contacts__list-category--cafe">CAFE</p>
        <p class="contacts__list-city">Chicago</p>
        <p class="contacts__list-info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <div class="contacts__list-workdays">
          <p class="contacts__list-days">Monday - Friday</p>
          <p class="contacts__list-time">06:00 AM - 10:00 PM</p>
        </div>
        <div class="contacts__list-weekdays">
          <p class="contacts__list-days">Saturday - Sunday</p>
          <p class="contacts__list-time">08:00 AM - 16:00 PM</p>
        </div>

        <address class="contacts__list-address">
          <a href="mailto:noreply@envato.com" class="contacts__list-address--mail"
            >noreply@envato.com</a
          >
          <br />
          <a href="tel:+610383766284" class="contacts__list-address--phone">+61(0) 383 766 284</a>
        </address>
      </li>

      <li class="contacts__list-item">
        <p class="contacts__list-category contacts__list-category--foodtruck">FOODTRUCK</p>
        <p class="contacts__list-city">Los Angeles</p>
        <p class="contacts__list-info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <div class="contacts__list-workdays">
          <p class="contacts__list-days">Monday - Friday</p>
          <p class="contacts__list-time">06:00 AM - 10:00 PM</p>
        </div>
        <div class="contacts__vweekdays">
          <p class="contacts__list-days">Saturday - Sunday</p>
          <p class="contacts__list-time">08:00 AM - 16:00 PM</p>
        </div>
        <address class="contacts__list-address">
          <a href="mailto:noreply@envato.com" class="contacts__list-address--mail"
            >noreply@envato.com</a
          >
          <br />
          <a href="tel:+610383766284" class="contacts__list-address--phone">+61(0) 383 766 284</a>
        </address>
      </li>

      <li class="contacts__list-item">
        <p class="contacts__list-category contacts__list-category--cafe">CAFE</p>
        <p class="contacts__list-city">New York</p>
        <p class="contacts__list-info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <div class="contacts__list-workdays">
          <p class="contacts__list-days">Monday - Friday</p>
          <p class="contacts__list-time">06:00 AM - 10:00 PM</p>
        </div>
        <div class="contacts__list-weekdays">
          <p class="contacts__list-days">Saturday - Sunday</p>
          <p class="contacts__list-time">08:00 AM - 16:00 PM</p>
        </div>

        <address class="contacts__list-address">
          <a href="mailto:noreply@envato.com" class="contacts__list-address--mail"
            >noreply@envato.com</a
          >
          <br />
          <a href="tel:+610383766284" class="contacts__list-address--phone">+61(0) 383 766 284</a>
        </address>
      </li>
    </ul>
    <div class="btn__contacts">
      <button type="button" class="btn__contacts--locations" data-modal-open>Our Locations</button>
      <button type="button" class="btn__contacts--franchise">Franchise</button>
    </div>

    <!-- Modal -->

    <div class="backdrop is-hidden" data-modal>
      <div class="contacts-modal">
        <button type="button" class="contacts-modal__button-close" data-modal-close>
          <svg class="contacts-modal__icon-close" width="14" height="14">
            <use href="./images/sprite.svg#menu-close"></use>
          </svg>
        </button>

        <div class="contacts-modal__map-thumb">
          <b class="modal__location-city">Chicago</b>
          <div class="contacts-modal__map contacts-modal__map--mobile">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380696.2037068012!2d-87.88237681594869!3d41.80268680520842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1643661631664!5m2!1sru!2sua"
              width="300"
              height="200"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
          <div class="contacts-modal__map contacts-modal__map--tablet">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d67919.09597680719!2d-87.7494946682206!3d41.92418621673783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1643631620800!5m2!1sru!2sua"
              width="400"
              height="200"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
        </div>
        <div class="contacts-modal__map-thumb">
          <b class="modal__location-city">Los Angeles</b>
          <div class="contacts-modal__map contacts-modal__map--mobile">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d147159.6682990295!2d-118.41581138757218!3d34.03417989587885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1643661679755!5m2!1sru!2sua"
              width="300"
              height="200"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
          <div class="contacts-modal__map contacts-modal__map--tablet">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d136018.04524732428!2d-118.38349313488713!3d34.04176094570364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1643631403586!5m2!1sru!2sua"
              width="400"
              height="200"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
        </div>

        <div class="contacts-modal__map-thumb">
          <b class="modal__location-city">New York</b>
          <div class="contacts-modal__map contacts-modal__map--mobile">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63353.564349667045!2d-74.00980180176023!3d40.67883318588554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1643661483599!5m2!1sru!2sua"
              width="300"
              height="200"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
          <div class="contacts-modal__map contacts-modal__map--tablet">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63353.564349667045!2d-74.00980180176023!3d40.67883318588554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1643654220396!5m2!1sru!2sua"
              width="400"
              height="200"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
