<section class="customers">
  <div class="container">
    <h2 class="visually-hidden">Customers</h2>
    <ul class="customers__slider">
      <li class="customers__slide">
        <picture class="customers__photo">
          <source srcset="./images/customer_1@1x.png 1x, ./images/customer_1@2x.png 2x" />
          <img src="./images/customer_1@1x.png" alt="Фотография девушки №1" />
        </picture>
        <div class="customers__text-block">
          <div class="customers__underline-box">
            <p class="customers__review">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="customers__signature">Emily, Los Angeles</p>
      </li>

      <li class="customers__slide">
        <picture class="customers__photo">
          <source srcset="./images/customer_2@1x.png 1x, ./images/customer_2@2x.png 2x" />
          <img src="./images/customer_2@1x.png" alt="Фотография девушки №2" />
        </picture>
        <div class="customers__text-block">
          <div class="customers__underline-box">
            <p class="customers__review">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="customers__signature">Jennifer, New York</p>
      </li>
      <li class="customers__slide">
        <picture class="customers__photo">
          <source srcset="./images/customer_3@1x.png 1x, ./images/customer_3@2x.png 2x" />
          <img src="./images/customer_3@1x.png" alt="Фотография девушки №3" />
        </picture>
        <div class="customers__text-block">
          <div class="customers__underline-box">
            <p class="customers__review">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="customers__signature">Samanta, Washington</p>
      </li>
    </ul>
  </div>
</section>
