<footer class="section footer">
  <div class="container footer--flex-box">
    <div class="footer__box">
      <p class="footer__title">homemade ice cream made</p>

      <p class="footer__text">with passion</p>
    </div>

    <div class="footer__box">
      <ul class="socials__list">
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://github.com/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="github"
          >
            <svg class="socials__icon_team-color" width="20" height="20">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>

        <li class="socials__item">
          <a
            class="socials__link"
            href="https://web.telegram.org/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="telegram"
          >
            <svg class="socials__icon_team-color" width="20" height="16">
              <use href="./images/sprite.svg#icon-paper-plane"></use>
            </svg>
          </a>
        </li>

        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.facebook.com/"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="facebook"
          >
            <svg class="socials__icon_team-color" width="9" height="20">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__phone-text">
        Feel free to contact
        <a class="footer__phone-color link" href="tel:+610383766284"> +61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <p class="footer__bottom-text">&copy; 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
