<!-- <section id="gallery">
    <div class="container gallery">
        <div class="gallery__block">
            <ul class="gallery__list">
                <li>
                    <picture>
                        <source
                            srcset="./images/gallery/desktop/icecream_two_green.jpg 1x, ./images/gallery/desktop/icecream_two_green_2x.jpg 2x"
                            media="(min-width:1200px)">
                        <source
                            srcset="./images/gallery/tablet/icecream_two_green.jpg 1x, ./images/gallery/tablet/icecream_two_green_2x.jpg 2x"
                            media="(min-width:768px)">
                        <source
                            srcset="./images/gallery/mobile/icecream_two_green.jpg 1x, ./images/gallery/mobile/icecream_two_green_2x.jpg 2x"
                            media="(min-width:320px)">
                        <img class="gallery__img first"
                            srcset="./images/gallery/desktop/icecream_two_green.jpg 1x, ./images/gallery/desktop/icecream_two_green_2x.jpg 2x"
                            src="./images/gallery/mobile/icecream_two_green.jpg" alt="Two green ice creams">
                    </picture>
                </li>
                <li>
                    <picture>
                        <source
                            srcset="./images/gallery/desktop/icecream_hand.jpg 1x, ./images/gallery/desktop/icecream_hand_2x.jpg 2x"
                            media="(min-width:1200px)">
                        <source
                            srcset="./images/gallery/tablet/icecream_hand.jpg 1x, ./images/gallery/tablet/icecream_hand_2x.jpg 2x"
                            media="(min-width:768px)">
                        <source
                            srcset="./images/gallery/mobile/icecream_hand.jpg 1x, ./images/gallery/mobile/icecream_hand_2x.jpg 2x"
                            media="(min-width:320px)">
                        <img class="gallery__img second"
                            srcset="./images/gallery/desktop/icecream_hand.jpg 1x, ./images/gallery/desktop/icecream_hand_2x.jpg 2x"
                            src="./images/gallery/mobile/icecream_hand.jpg" alt="Ice cream and hand">
                    </picture>
                </li>
                <li>
                    <picture>
                        <source
                            srcset="./images/gallery/desktop/icecream_three.jpg 1x, ./images/gallery/desktop/icecream_three_2x.jpg 2x"
                            media="(min-width:1200px)">
                        <source
                            srcset="./images/gallery/tablet/icecream_three.jpg 1x, ./images/gallery/tablet/icecream_three_2x.jpg 2x"
                            media="(min-width:768px)">
                        <source
                            srcset="./images/gallery/mobile/icecream_three.jpg 1x, ./images/gallery/mobile/icecream_three_2x.jpg 2x"
                            media="(min-width:320px)">
                        <img class="gallery__img third"
                            srcset="./images/gallery/desktop/icecream_three.jpg 1x, ./images/gallery/desktop/icecream_three_2x.jpg 2x"
                            src="./images/gallery/mobile/icecream_three.jpg" alt="Three ice creams">
                    </picture>
                </li>
                <li>
                    <picture>
                        <source
                            srcset="./images/gallery/desktop/icecream_fruit.jpg 1x, ./images/gallery/desktop/icecream_fruit_2x.jpg 2x"
                            media="(min-width:1200px)">
                        <source
                            srcset="./images/gallery/tablet/icecream_fruit.jpg 1x, ./images/gallery/tablet/icecream_fruit_2x.jpg 2x"
                            media="(min-width:768px)">
                        <source
                            srcset="./images/gallery/mobile/icecream_fruit.jpg 1x, ./images/gallery/mobile/icecream_fruit_2x.jpg 2x"
                            media="(min-width:320px)">
                        <img class="gallery__img fourth"
                            srcset="./images/gallery/desktop/icecream_fruit.jpg 1x, ./images/gallery/desktop/icecream_fruit_2x.jpg 2x"
                            src="./images/gallery/mobile/icecream_fruit.jpg" alt="Ice cream and fruit">
                    </picture>
                </li>
                <li>
                    <picture>
                        <source
                            srcset="./images/gallery/desktop/icecream_dog.jpg 1x, ./images/gallery/desktop/icecream_dog_2x.jpg 2x"
                            media="(min-width:1200px)">
                        <source srcset="./images/gallery/tablet/icecream_dog.jpg 1x, ./images/gallery/tablet/icecream_dog_2x.jpg 2x"
                            media="(min-width:768px)">
                        <source srcset="./images/gallery/mobile/icecream_dog.jpg 1x, ./images/gallery/mobile/icecream_dog_2x.jpg 2x"
                            media="(min-width:320px)">
                        <img class="gallery__img fifth"
                            srcset="./images/gallery/desktop/icecream_dog.jpg 1x, ./images/gallery/desktop/icecream_dog_2x.jpg 2x"
                            src="./images/gallery/mobile/icecream_dog.jpg" alt="Ice cream and dog">
                    </picture>
                </li>
                <li>
                    <picture>
                        <source
                            srcset="./images/gallery/desktop/icecream_pink.jpg 1x, ./images/gallery/desktop/icecream_pink_2x.jpg 2x"
                            media="(min-width:1200px)">
                        <source
                            srcset="./images/gallery/tablet/icecream_pink.jpg 1x, ./images/gallery/tablet/icecream_pink_2x.jpg 2x"
                            media="(min-width:768px)">
                        <source
                            srcset="./images/gallery/mobile/icecream_pink.jpg 1x, ./images/gallery/mobile/icecream_pink_2x.jpg 2x"
                            media="(min-width:320px)">
                        <img class="gallery__img sixth"
                            srcset="./images/gallery/desktop/icecream_pink.jpg 1x, ./images/gallery/desktop/icecream_pink_2x.jpg 2x"
                            src="./images/gallery/mobile/icecream_pink.jpg" alt="Pink milkshake">
                    </picture>
                </li>
                <li>
                    <picture>
                        <source
                            srcset="./images/gallery/desktop/icecream_strawberry.jpg 1x, ./images/gallery/desktop/icecream_strawberry_2x.jpg 2x"
                            media="(min-width:1200px)">
                        <source
                            srcset="./images/gallery/tablet/icecream_strawberry.jpg 1x, ./images/gallery/tablet/icecream_strawberry_2x.jpg 2x"
                            media="(min-width:768px)">
                        <source
                            srcset="./images/gallery/mobile/icecream_strawberry.jpg 1x, ./images/gallery/mobile/icecream_strawberry_2x.jpg 2x"
                            media="(min-width:320px)">
                        <img class="gallery__img seventh"
                            srcset="./images/gallery/desktop/icecream_strawberry.jpg 1x, ./images/gallery/desktop/icecream_strawberry_2x.jpg 2x"
                            src="./images/gallery/mobile/icecream_strawberry.jpg" alt="Ice cream and strawberry">
                    </picture>
                </li>
                <li>
                    <picture>
                        <source
                            srcset="./images/gallery/desktop/icecream_smile.jpg 1x, ./images/gallery/desktop/icecream_smile_2x.jpg 2x"
                            media="(min-width:1200px)">
                        <source
                            srcset="./images/gallery/tablet/icecream_smile.jpg 1x, ./images/gallery/tablet/icecream_smile_2x.jpg 2x"
                            media="(min-width:768px)">
                        <source
                            srcset="./images/gallery/mobile/icecream_smile.jpg 1x, ./images/gallery/mobile/icecream_smile_2x.jpg 2x"
                            media="(min-width:320px)">
                        <img class="gallery__img eighth"
                            srcset="./images/gallery/desktop/icecream_smile.jpg 1x, ./images/gallery/desktop/icecream_smile_2x.jpg 2x"
                            src="./images/gallery/mobile/icecream_smile.jpg" alt="Ice cream and girl">
                    </picture>
                </li>
                <li>
                    <picture>
                        <source
                            srcset="./images/gallery/desktop/icecream_two.jpg 1x, ./images/gallery/desktop/icecream_two_2x.jpg 2x"
                            media="(min-width:1200px)">
                        <source srcset="./images/gallery/tablet/icecream_two.jpg 1x, ./images/gallery/tablet/icecream_two_2x.jpg 2x"
                            media="(min-width:768px)">
                        <source srcset="./images/gallery/mobile/icecream_two.jpg 1x, ./images/gallery/mobile/icecream_two_2x.jpg 2x"
                            media="(min-width:320px)">
                        <img class="gallery__img ninth"
                            srcset="./images/gallery/desktop/icecream_two.jpg 1x, ./images/gallery/desktop/icecream_two_2x.jpg 2x"
                            src="./images/gallery/mobile/icecream_two.jpg" alt="Two ice cream">
                    </picture>
                </li>
                <li>
                    <picture>
                        <source srcset="./images/gallery/desktop/milkshake.jpg 1x, ./images/gallery/desktop/milkshake_2x.jpg 2x"
                            media="(min-width:1200px)">
                        <source srcset="./images/gallery/tablet/milkshake.jpg 1x, ./images/gallery/tablet/milkshake_2x.jpg 2x"
                            media="(min-width:768px)">
                        <source srcset="./images/gallery/mobile/milkshake.jpg 1x, ./images/gallery/mobile/milkshake_2x.jpg 2x"
                            media="(min-width:320px)">
                        <img class="gallery__img tenth"
                            srcset="./images/gallery/desktop/milkshake.jpg 1x, ./images/gallery/desktop/milkshake_2x.jpg 2x"
                            src="./images/gallery/mobile/milkshake.jpg" alt="Two chocolate milkshakes">
                    </picture>
                </li>
            </ul>
        </div>

    </div>
</section> -->

<section id="gallery">
    <div class="container gallery">
        <picture class="gallery__picture">
            <source srcset="./images/gallery/gallery-mobile.jpg 1x, ./images/gallery/gallery-mobile-2x.jpg 2x" media="(min-width: 320px)">
            <source srcset="./images/gallery/gallery-tablet.jpg 1x, ./images/gallery/gallery-tablet-2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset="./images/gallery/gallery-desktop.jpg 1x, ./images/gallery/gallery-desktop-2x.jpg 2x"
                media="(min-width: 1200px)">
            <img  class="gallery__img" src="./images/gallery/gallery-desktop.jpg" alt="Images ice creams">
        </picture>
    </div>
</section>