<header class="header">
  <div class="container header__relative">
    <nav class="header__main-nav">
      <a href="#" class="header__logo"><img src="./images/logo-header.svg" alt="Logo" /></a>
      <button type="button" class="mobile-menu__button-open">
        <svg width="20" height="12" aria-label="Кнопка мобильного меню">
          <use class="mobile-menu__menu-icon" href="./images/sprite.svg#menu-burger"></use>
        </svg>
      </button>
      <button class="header__buy-now header__buy-now--text">Buy now</button>
    </nav>

    <section class="hero">
      <div class="hero__bg-circle"></div>
      <img class="hero__img" src="./images/hero-img-mobile.png" alt="Foto icecream" />
      <div class="hero__title-wrapper">
        <h1 class="hero__title">
          Ice cream <br />
          made with <br />
          <span class="hero__title-accent">passion</span>
        </h1>
        <ul class="hero__button-list">
          <li class="hero__button-item">
            <a href="#" class="hero__button hero__button--accent">Products</a>
          </li>
          <li class="hero__button-item">
            <a href="#" class="hero__button hero__button--reverse">How it’s made?</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</header>
