<header class="header">
  <div class="container header__relative">
    <div class="hero__bg-circle"></div>
    <picture>
      <source
        srcset="./images/hero-icecream-mobile.png 1x, ./images/hero-icecream-mobile@2x.png 2x"
        media="(max-width: 767px)"
      />
      <source
        srcset="./images/hero-icecream-desktop.png 1x, ./images/hero-icecream-desktop@2x.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/hero-icecream-tablet.png 1x, ./images/hero-icecream-tablet@2x.png 2x"
        media="(min-width: 768px)"
      />
      <img class="hero__img" src="./images/hero-icecream-tablet.png" alt="Photo icecream" />
    </picture>

    <nav class="header__main-nav scrollto">
      <a href="#" class="header__logo">
        <picture>
          <source
            srcset="./images/logo-header.png 1x, ./images/logo-header@2x.png 2x"
            media="(min-width: 320px)"
          />
          <img src="./images/logo-header.png" alt="Logo" />
        </picture>
      </a>

      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a href="#" class="main-nav__link">Home</a>
        </li>
        <li class="main-nav__item"><a href="#advantages" class="main-nav__link">About us</a></li>
        <li class="main-nav__item">
          <a href="#section-about" class="main-nav__link">How it’s made?</a>
        </li>
        <li class="main-nav__item"><a href="#product" class="main-nav__link">Our products</a></li>
        <li class="main-nav__item"><a href="#contacts" class="main-nav__link">Contact</a></li>
      </ul>

      <div class="mobile-menu__thumb">
        <div class="mobile-menu__container" id="mobile-menu__container">
          <button type="button" class="mobile-menu__button-close">
            <svg aria-label="Кнопка мобильного меню" width="14" height="14">
              <use class="mobile-menu__icon-close" href="./images/sprite.svg#menu-close"></use>
            </svg>
          </button>

          <button type="button" class="mobile-menu__button-buynow">Buy now</button>

          <nav class="mobile-menu__nav">
            <a href="#" class="mobile-menu__link">Home</a>
            <a href="#advantages" class="mobile-menu__link">About us</a>
            <a href="#section-about" class="mobile-menu__link">How it's made?</a>
            <a href="#product" class="mobile-menu__link">Our products</a>
            <a href="#contacts" class="mobile-menu__link">Contact</a>
          </nav>
        </div>

        <button type="button" class="mobile-menu__burger">
          <svg width="20" height="12" aria-label="Кнопка мобильного меню">
            <use class="mobile-menu__menu-icon" href="./images/sprite.svg#menu-burger"></use>
          </svg>
        </button>
        <button class="header__button-buynow">Buy now</button>
      </div>
    </nav>

    <section class="hero">
      <div class="content-thumb">
        <div class="hero__title-thumb">
          <h1 class="hero__title">
            Ice cream <br />
            made with <br />
            <span class="hero__title-accent">passion</span>
          </h1>
          <ul class="hero__button-list">
            <li class="hero__button-item">
              <a href="#product" class="hero__button hero__button--accent">Products</a>
            </li>
            <li class="hero__button-item">
              <a href="#section-about" class="hero__button hero__button--reverse">How it’s made?</a>
            </li>
          </ul>
        </div>

        <ul class="quantity-point__list">
          <li class="quantity-point__item">
            <p class="quantity-point__number">16</p>
            <p class="quantity-point__cafes">cafes</p>
          </li>
          <li class="quantity-point__item">
            <p class="quantity-point__number">23</p>
            <p class="quantity-point__cafes">food trucks</p>
          </li>
        </ul>
      </div>

      <div class="hero__secondary-img-thumb">
        <picture>
          <source
            srcset="./images/hero-milk-tablet.png 1x, ./images/hero-milk-tablet@2x.png 2x"
            media="(max-width: 1199px)"
          />
          <source
            srcset="./images/hero-milk-desktop.png 1x, ./images/hero-milk-desktop@2x.png 2x"
            media="(min-width: 1200px)"
          />
          <img class="hero__img--milk" src="./images/hero-milk-tablet.png" alt="Milk" />
        </picture>

        <div class="secondary-img__text-thumb">
          <p class="secondary-img__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>

          <picture>
            <source
              srcset="
                ./images/hero-bnt-arrow-tablet.png    1x,
                ./images/hero-bnt-arrow-tablet@2x.png 2x
              "
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                ./images/hero-bnt-arrow-desktop.png    1x,
                ./images/hero-bnt-arrow-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="secondary-img__button"
              src="./images/hero-bnt-arrow-tablet.png"
              alt="Arrow"
            />
          </picture>
        </div>
      </div>

      <picture>
        <source
          srcset="./images/hero-girl-tablet.png 1x, ./images/hero-girl-tablet@2x.png 2x"
          media="(max-width: 1199px)"
        />
        <source
          srcset="./images/hero-girl-desktop.png 1x, ./images/hero-girl-desktop@2x.png 2x"
          media="(min-width: 1200px)"
        />
        <img class="hero__img--girl" src="./images/hero-girl-tablet.png" alt="Girl with icecream" />
      </picture>
    </section>
  </div>
</header>
