<section class="product" id="product">
  <div class="container">
    <p class="product-label">100% natural</p>
    <h2 class="product-header">products</h2>
    <ul class="product-list">
      <li class="product-item__ice">
        <h3 class="product-list__header-ice">ice cream</h3>
        <p class="product-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.</p>
        <img class="product-list__arrow" src="./images/arrow.png" alt="arrow" />
      </li>
      <li class="product-item__coffe">
        <h3 class="product-list__header-coffe">ice coffee</h3>
        <p class="product-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.</p>
        <img class="product-list__arrow" src="./images/arrow.png" alt="arrow" />
      </li>
      <li class="product-item__shake">
        <h3 class="product-list__header-shake">milkshakes</h3>
        <p class="product-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.</p>
        <img class="product-list__arrow" src="./images/arrow.png" alt="arrow" />
      </li>
    </ul>
  </div>
</section>
