<section class="products>">
    <div class="products__conteiner container">
        <ul class="products__cart">
            <li class="products__list">
                <img class="products__imidge" src="../images/img-products/home-pic1mob.jpg" alt="Фото морожиное">
                <h2 class="products__heading">ice cream</h2>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            </li>
            <li class="products__list">
                <img class="products__imidge" src="../images/img-products/home-pic2mob.jpg" alt="Фото кофе">
                <h2 class="products__heading">ice coffee</h2>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            </li>
            <li class="products__list">
                <img class="products__imidge" src="../images/img-products/home-pic3mob.jpg" alt="Фото милкшейк">
                <h2 class="products__heading">milkshakes</h2>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            </li>
        </ul>
    </div>
</section>