<section class="product" id="product">
  <div class="container">
    <p class="product-label">100% natural</p>
    <h2 class="product-header">products</h2>
    <ul class="product-list">
      <li class="product-item__ice">
        <h3 class="product-list__header">ice cream</h3>
        <p class="product-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <img class="product-list__arrow" src="./images/arrow.png" alt="arrow" />
      </li>
      <li class="product-item__coffe">
        <picture class="product-list__image">
          <source
            media="(min-width: 1280px)"
            srcset="./images/coffe-dt.png 1x, ./images/coffe-dt@2x.png 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/coffe-tab.png 1x, ./images/coffe-tab@2x.png 2x"
          />
          <source
            media="(min-width: 480px)"
            srcset="./images/coffe-mob.png 1x, ./images/coffe-mob@2x.png 2x"
          />
          <img src="./images/coffe-mob.png" alt="IceCrem" />
        </picture>
        <h3 class="product-list__header">ice coffee</h3>
        <p class="product-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <img class="product-list__arrow" src="./images/arrow.png" alt="arrow" />
      </li>
      <li class="product-item__shake">
        <picture class="product-list__image">
          <source
            media="(min-width: 1280px)"
            srcset="./images/shake-dt.png 1x, ./images/shake-dt@2x.png 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/shake-tab.png 1x, ./images/shake-tab@2x.png 2x"
          />
          <source
            media="(min-width: 480px)"
            srcset="./images/shake-mob.png 1x, ./images/shake-mob@2x.png 2x"
          />
          <img src="./images/shake-mob.png" alt="IceCrem" />
        </picture>
        <h3 class="product-list__header">milkshakes</h3>
        <p class="product-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <img class="product-list__arrow" src="./images/arrow.png" alt="arrow" />
      </li>
    </ul>
  </div>
</section>
