.contacts-section {
    background-color: $section-bg-color;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 10%,
    rgba(255, 245, 246, 1) 10%,
    );

    padding-top: 86px;
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (min-width: 768px) {
        padding-left: 36px;
        padding-right: 36px;
        background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 21%,
        rgba(255, 245, 246, 1) 21%,
    );
    }
    @media screen and (min-width: 1200px) {
        padding-left: 0px;
        padding-right: 0px;
    }
        // background-position: center;
        // background-size: cover;
    

        // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        // background-image: url(../images/spots@2x.png);
        // }
        
    }

.container-bcg__spots {
    @media screen and (min-width: 1200px) {
        padding-left: 70px;
        padding-right: 70px;
        width: 100%;
        // margin-left: auto;
        // margin-right: auto;
        background-repeat: no-repeat;
        background-size: center;
        background-position: top 105px left -350px;
        background-image: url("../images/spots-full.png");

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url("../images/spots-full@2x.png");
            }
    }
}

.contacts__list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 54px;

    @media screen and (min-width: 768px) {
        display: flex;

        justify-content: center;
        margin-bottom: 81px;
    }
    @media screen and (min-width: 1200px) {

        margin-bottom: 86px;
    }
}


.contacts__list-item {
    min-width: 220px;
    padding: 43px 21px 43px 20px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    background-color: $main-text-color;


    @media screen and (max-width: 767px) {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    }

    @media screen and (min-width: 768px) {
        padding: 50px 32px 50px 31px;
        margin-bottom: 0px;
      
        &:not(:last-child) {
            margin-right: 20px;

        }
    }

    @media screen and (min-width: 1200px) {
        min-width: 330px;
        padding: 51px 44px 62px 43px;

        &:not(:last-child) {
        margin-right:30px;
    }
}
}
    
.contacts__list-category {
    @include main-font(12px, 500, 22px);
    display: inline-block;
    text-align: center;
    color: $main-text-color;
    border-radius: 4px;
    margin-bottom: 25px;


    @media screen and (min-width: 768px) {
        @include main-font(16px, 500, 30px);
        margin-bottom: 30px;
    }
    
    @media screen and (min-width: 1200px) {
        margin-bottom: 32px;
    }

    &--cafe {
        padding: 0 24px;
        background-color: $accent-bg-color-second;
    }
    &--foodtruck {
        padding: 0 27px;
        background-color: $accent-bg-color-third;
    }
}

.contacts__list-city {
    @include main-font(12px, 500, 22px);
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        @include main-font(14px, 500, 26px);

        margin-bottom: 14px;
    }

    @media screen and (min-width: 1200px) {
        @include main-font(16px, 500, 30px);

        margin-bottom: 10px;
    }
}


.contacts__list-info {
    @include main-font(12px, 500, 18px);
    color: $third-text-color;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;

    @media screen and (min-width: 768px) {
        @include main-font(14px, 500, 23px);
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 1.81;
    }
}

.contacts__list-days {
    @include main-font(12px, 500, 22px);

    @media screen and (min-width: 768px) {
        @include main-font(14px, 500, 26px);
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.04em;
    }
    
}

.contacts__list-time {
    @include main-font(12px, 500, 22px);
    color: $accent-secondary-color;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
}

.contacts__list-address {
    @include main-font(12px, 500, 22px);
    color: $third-text-color;
   
    &--mail,
    &--phone {
        color: $third-text-color;
    }

    &--mail {
        transition: color 250ms $cubic-timing;
        &:hover,
        &:focus {
          color: $accent-bg-color-first;
          transition: color 250ms $cubic-timing;
        }
    }
    &--phone {
        transition: color 250ms $cubic-timing;
        &:hover,
        &:focus {
          color: $accent-bg-color-first;
          transition: color 250ms $cubic-timing;
        }
    }

    @media screen and (min-width: 768px) {
        @include main-font(14px, 500, 26px);
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.81;
    }
}

.btn__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
}

.btn__contacts--locations {
    @include main-font(16px, bold, 21px);
    @include secondary-button;
    // color: $main-text-color;
    // background: $accent-main-color;
    // border-radius: 22px;
    // border: none;
    
    width: 161px;
    justify-content: center;
    // height: 44px;
    padding-left: 10px;
    padding-right: 10px;
    // margin-bottom: 10px;
    &::after {
        content: ' ';
        display: block;
        width: 6px;
        height: 10px;
        margin-left: 8px;
    
    //     background-image: url('../images/arrow-in-secondary-button.svg');
    //     background-size: contain;
    //     background-repeat: no-repeat;
    //     background-position: center;
        transform: translateY(2px);
      }

    @media screen and (min-width: 768px) {
        margin-right: 15px;
        width: 174px;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 1200px) {
        width: 198px;
    }
}

.btn__contacts--franchise {
    @include main-font(16px, bold, 21px);
    @include base-button;
    width: 161px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;

    &::after {
        content: ' ';
        display: block;
        width: 6px;
        height: 10px;
    
        transform: translateY(2px);
      }
 
    @media screen and (min-width: 768px) {
        margin-left: 0px;
        width: 174px;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 1200px) {
        width: 180px;

    }
}

// Contacts-modal

.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 234, 254, 0.2);
    backdrop-filter: blur(15px);

    opacity: 1;
    transition: opacity 250ms $cubic-timing;

    z-index: 300;
  }

  .backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .contacts-modal {
    position: absolute;
    min-width: 320px;
    height: 581px;
    padding: 15px 30px 15px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $cubic-timing;

    background-color: $main-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-image: url("../images/milk-mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0px right 0px;
    

    // background-image: url("../images/ice-cream-modal-mobile.png");
    // background-repeat: no-repeat;
    // 
    // 
    // animation-name: ice-cream-modal;
    // animation-duration: 5s;
    // animation-timing-function: linear;
    // animation-iteration-count: infinite;

    // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    //         background-image: url("../images/ice-cream-modal-mobile@2x.png");
    //         }
    // @keyframes ice-cream-modal {
    //     0% {
    //       transform: rotate(0deg);
    //     }
      
    //     100% {
    //       transform: rotate(360deg);
    //     }
    //   }
  
    @media screen and (min-width: 768px) {
        background-repeat: no-repeat;
        background-size: center;
        padding-left: 50px;
        min-width: 768px;
        background-image: url("../images/ice-cream-modal-tablet.png");
        background-position: bottom 10px right 10px;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url("../images/ice-cream-modal-tablet@2x.png");
        }
    }

    @media screen and (min-width: 1200px) {
        min-width: 768px;
        background-image: url("../images/ice-cream-modal-tablet.png");
        background-size: contain;
        background-position: bottom 10px right 10px;
     

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url("../images/ice-cream-modal-tablet@2x.png");
        }
    }

    .backdrop--is-hidden & {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  .contacts-modal__button-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: $accent-secondary-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0px;
    fill: $main-text-color;
    cursor: pointer;

    &:hover,
    &:focus {
     background: $accent-main-color;
     transition: background-color 250ms $cubic-timing;
  }
}

  .contacts-modal__icon-close {
    position: absolute;
    top: 8px;
    right: 7px;
    transition: background-color 250ms $cubic-timing;

    
    }
  

 .contacts-modal__map {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
    
 }

 .modal__location-city {
    @include secondary-font(12px, 500, 22px);
    display: flex;
    justify-content: center;
    color: $accent-main-color;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
 }