.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 45px;
    padding-right: 45px;
  }
}
