.customers__slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;

  @media screen and (min-width: 768px) {
    padding-top: 121px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 123px;
    padding-left: 92px;
    padding-right: 92px;
  }
}

.customers__text-block {
  width: 100%;
  height: 308px;
  background-color: #fafafa;
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  @media screen and (min-width: 768px) {
    margin-top: 19px;
    height: 164px;
    padding-top: 47px;
    padding-bottom: 34px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 15px;
    height: 138px;
    padding-top: 47px;
    padding-bottom: 28px;
  }
}

.customers__text-block::after {
  content: '';
  background-image: url('../images/circles.png');
  width: 32px;
  height: 4px;
  bottom: -30px;
  position: absolute;

  @media screen and (min-width: 768px) {
    bottom: -24px;
  }
  @media screen and (min-width: 1200px) {
    bottom: -15px;
  }
}

.customers__photo {
  width: 85px;
  height: 85px;
}

.customers__review {
  width: 157px;
  height: 248px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 260%;
  text-align: center;
  color: $secondary-text-color;
  z-index: 2;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 460px;
    height: 93px;
    font-size: 14px;
    line-height: 216%;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    width: 750px;
    height: 52px;
    font-size: 16px;
    line-height: 186%;
  }
}

.customers__review::before {
  content: '';
  background-image: url('../images/deco.png');
  width: 54px;
  height: 40px;
  position: absolute;
  top: -15px;
  left: 4px;
  z-index: -1;

  @media screen and (min-width: 768px) {
    top: -17px;
    left: -40px;
  }

  @media screen and (min-width: 768px) {
    top: -15px;
    left: -37px;
  }
}

.customers__signature {
  margin-top: 52px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  color: $secondary-text-color;

  @media screen and (min-width: 768px) {
    margin-top: 42px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 34px;
  }
}

.customers__underline-box {
  width: 180px;
  height: 248px;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 30px,
    #e1e1e1 31px
  );
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    width: 500px;
  }

  @media screen and (min-width: 1200px) {
    width: 813px;
  }
}
