.scrollup {
  width: 50px;
  height: 50px;
  opacity: 0.2;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: none;
  text-indent: -9999px;

  background-image: url(../images/scrollup.svg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  background-color: $accent-main-color;
  transform: rotate(-90deg);

  border-radius: 50%;
  z-index: 999;

  @media screen and (min-width: 768px) {
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
  }

  @media screen and (min-width: 1200px) {
    bottom: 50px;
    right: 100px;
  }

  body.modal-open & {
    opacity: 0;
  }
}
