.section-about {
  background-color: $section-bg-color;
}
.container-mm {
  @media screen and (max-width: 767px) {
    //height: 133px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 90% 90%;
    background-image: url(../images/milk-mobile.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/milk-mobile@2x.png);
    }
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 120%;
    background-image: url(../images/milk-des.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/milk-des@2x.png);
    }
  }
}

.section-about__label {
  @include secondary-font(18px, 400, 21px);
  text-align: center;
  color: $accent-secondary-color;
  margin-bottom: 15px;
  padding-top: 125px;

  @media screen and (min-width: 768px) {
    @include secondary-font(26px, 400, 30px);
    text-align: center;
    padding-top: 130px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1200px) {
    @include secondary-font(30px, 400, 34px, 0.04em);
  }
}

.section-about__title {
  @include secondary-font(34px, 400, 39px, 0.04em);
  text-align: center;
  color: $accent-main-color;
  margin-bottom: 26px;

  @media screen and (min-width: 768px) {
    @include secondary-font(48px, 400, 55px);
    text-align: center;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    @include secondary-font(58px, 400, 66px, 0.06em);
    margin-bottom: 51px;
  }
}

.section-about--story {
  margin-top: 46px;
  padding-left: 30px;
  padding-right: 30px;

  @media screen and (min-width: 768px) {
    margin-left: 17px;
    margin-top: 50px;
    padding: 0;
    //margin-bottom: 62px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 74px;
  }
}

.section-about__text-black {
  @include main-font(12px, 500, 19px);
  color: $secondary-text-color;
  margin-bottom: 34px;

  @media screen and (min-width: 768px) {
    @include main-font(14px, 500, 25px);
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1200px) {
    @include main-font(16px, 500, 28px, 0.04em);
    margin-bottom: 35px;
  }
}

.section-about__text-gray {
  @include main-font(12px, 500, 19px);
  color: $third-text-color;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    @include main-font(14px, 500, 25px);
    margin-bottom: 25px;
  }
  @media screen and (min-width: 1200px) {
    @include main-font(14px, 500, 27px, 0.04em);
    margin-bottom: 35px;
  }
}

.section-about__img {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding-left: 0px;
  }
}

@keyframes rotateY {
  0% {
    transform: perspective(1000px) rotateY(60deg);
  }

  100% {
    transform: perspective(1000px) rotateY(-60deg);
  }
}

.section-about__button {
  @include base-button;
  background-color: $main-text-color;
  color: $accent-main-color;
  @include main-font(14px, 700, 16px, 0);
  margin-left: 0;
  animation: animate125 3000ms infinite 1000ms;

  @media screen and (min-width: 768px) {
    @include base-button;
    background-color: $main-text-color;
    color: $accent-main-color;
    margin-left: 0;
  }
  @media screen and (min-width: 1200px) {
    &:hover {
      background-color: $hover-inverse-button-color;
    }
  }
}
.section-about--production {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px);
  z-index: 100;
  opacity: 1;
  overflow-y: scroll;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .section-about__modal {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}
.section-about__modal {
  position: relative;
  background-color: $main-text-color;
  opacity: 1;
  text-align: left;
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    max-width: 450px;
    height: 609px;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    //width: 100%;
    min-width: 521px;
    min-height: 581px;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
  }
}

.section-about__paragraph {
  @include secondary-font(18px, 400, 21px);
  text-align: center;
  color: $accent-secondary-color;
  margin-bottom: 15px;
}

.section-about__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: $accent-main-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0px;
  fill: $main-text-color;
  cursor: pointer;
}
.section-about__icon {
  position: absolute;
  top: 8px;
  right: 7px;
  width: 14px;
  height: 14px;

  transition: background-color 250ms $cubic-timing;
  justify-content: center;
  align-items: center;
  fill: $secondary-text-color;
}
.section-about__close:hover .section-about__close,
.section-about__close:focus .section-about__close {
  background-color: $accent-bg-color-first;
  transition: background-color 250ms $cubic-timing;
}
